<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color:black;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 50%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
            border-radius: 10px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            margin: 20px 0 30px;
            text-align: center;
        }
        .overlay-container button {
            width: 100%;
            padding: 10px;
            background-color: #0066cc;
            border: none;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        .overlay-container button:hover {
            background-color: #004999;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <a href="login.hbs"><button class="ghost">Sign In</button></a>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <a href="register.hbs"><button class="ghost">Sign Up</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
